@{
    Layout="_Layout";
}  
<!-- Header Start -->
<div class="header" id="header">
    <div class="content-inner">
        <h1 class="typed-text">Engin Avcı</h1>
        <h2></h2>
        <div class="content-inner-text">Bulanık Mantık,Yapay Zekâ Teknikleri,Biyomedikal,
            İşaret İşleme,Akıllı Sistemler,Radar Hedef Tanıma,Örüntü Tanıma,
            Görüntü İşleme,Veri Madenciliği</div>
    </div>
</div>
<!-- Header End -->
<!-- Large Button Start -->
<div class="large-btn">
    <div class="content-inner">
        <a class="btn" href="#"><i class="fa fa-download"></i>Özgeçmiş</a>
    </div>
</div>
<!-- Large Button End -->
<!-- About Start -->
<div class="about" id="about">
    <div class="content-inner">
        <div class="content-header">
            <h2>Hakkımda</h2>
        </div>
        <div class="row align-items-center">
            <div class="col-md-6 col-lg-5">
                <img src="img/EnginAvci.jpeg" alt="Image">
            </div>
            <div class="col-md-6 col-lg-7">
                <p>
                    Engin Hocanın hayatı buraya yazılacak.
                </p>
               
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="skills">
                    <div class="skill-name">
                        <p>Yapay Zeka ve Bulanık Mantık</p><p>100%</p>
                    </div>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <div class="skill-name">
                        <p>Örüntü Tanıma ve Görüntü İşleme</p><p>99%</p>
                    </div>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="99" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="skills">
                    <div class="skill-name">
                        <p>Biyomedikal ve Akıllı Sistemler</p><p>95%</p>
                    </div>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <div class="skill-name">
                        <p>Radar Hedef Tanıma</p><p>95%</p>
                    </div>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- About End -->
<!-- Education Start -->
<div class="education" id="education">
    <div class="content-inner">
        <div class="content-header">
            <h2>Eğitim</h2>
        </div>
        <div class="row align-items-center">
            <div class="col-md-6">
                <div class="edu-col">
                    <span>01-Jan-2020 <i>to</i> 31-Dec-2050</span>
                    <h3>Master Degree</h3>
                    <p>Lorem ipsum dolor sit amet elit suscipit orci. Donec molestie velit id libero.</p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="edu-col">
                    <span>01-Jan-2020 <i>to</i> 31-Dec-2050</span>
                    <h3>Bachelor Degree</h3>
                    <p>Lorem ipsum dolor sit amet elit suscipit orci. Donec molestie velit id libero.</p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="edu-col">
                    <span>01-Jan-2020 <i>to</i> 31-Dec-2050</span>
                    <h3>Associate Degree</h3>
                    <p>Lorem ipsum dolor sit amet elit suscipit orci. Donec molestie velit id libero.</p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="edu-col">
                    <span>01-Jan-2020 <i>to</i> 31-Dec-2050</span>
                    <h3>High School</h3>
                    <p>Lorem ipsum dolor sit amet elit suscipit orci. Donec molestie velit id libero.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Education Start -->
<!-- Experience Start -->
<div class="experience" id="experience">
    <div class="content-inner">
        <div class="content-header">
            <h2>Deneyim</h2>
        </div>
        <div class="row align-items-center">
            <div class="col-md-6">
                <div class="exp-col">
                    <span>01-Jan-2020 <i>to</i> 31-Dec-2050</span>
                    <h3>Codex Solution</h3>
                    <h4>San Francisco, CA</h4>
                    <h5>Project Manager</h5>
                    <p>Lorem ipsum dolor sit amet elit suscipit orci. Donec molestie velit id libero.</p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="exp-col">
                    <span>01-Jan-2020 <i>to</i> 31-Dec-2050</span>
                    <h3>Soft Solution Ltd</h3>
                    <h4>San Francisco, CA</h4>
                    <h5>Web Developer</h5>
                    <p>Lorem ipsum dolor sit amet elit suscipit orci. Donec molestie velit id libero.</p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="exp-col">
                    <span>01-Jan-2020 <i>to</i> 31-Dec-2050</span>
                    <h3>ABC Soft Ltd</h3>
                    <h4>San Francisco, CA</h4>
                    <h5>Web Designer</h5>
                    <p>Lorem ipsum dolor sit amet elit suscipit orci. Donec molestie velit id libero.</p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="exp-col">
                    <span>01-Jan-2020 <i>to</i> 31-Dec-2050</span>
                    <h3>Soft Agency</h3>
                    <h4>San Francisco, CA</h4>
                    <h5>Graphic Designer</h5>
                    <p>Lorem ipsum dolor sit amet elit suscipit orci. Donec molestie velit id libero.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Experience Start -->

<!-- Portfolio Start -->
<div class="portfolio" id="portfolio">
    <div class="content-inner">
        <div class="content-header">
            <h2>Portfolyo</h2>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <ul id="portfolio-flters">
                    <li data-filter="*" class="filter-active">All</li>
                    <li data-filter=".web-des">Yapay Zeka Teknikleri</li>
                    <li data-filter=".web-dev">Radar Hedef Tanıma</li>
                    <li data-filter=".dig-mar">Örüntü Tanıma</li>
                </ul>
            </div>
        </div>
        <div class="row portfolio-container">
            <div class="col-lg-4 col-md-6 portfolio-item web-des">
                <div class="portfolio-wrap">
                    <figure>
                        <img src="img/portfolio-1.jpg" class="img-fluid" alt="">
                        <a href="img/portfolio-1.jpg" data-lightbox="portfolio" data-title="Project Name" class="link-preview" title="Preview"><i class="fa fa-eye"></i></a>
                        <a href="#" class="link-details" title="More Details"><i class="fa fa-link"></i></a>
                        <a class="portfolio-title" href="#">Proje Adı <span>Alt Başlık</span></a>
                    </figure>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item web-des">
                <div class="portfolio-wrap">
                    <figure>
                        <img src="img/portfolio-2.jpg" class="img-fluid" alt="">
                        <a href="img/portfolio-2.jpg" class="link-preview" data-lightbox="portfolio" data-title="Project Name" title="Preview"><i class="fa fa-eye"></i></a>
                        <a href="#" class="link-details" title="More Details"><i class="fa fa-link"></i></a>
                        <a class="portfolio-title" href="#">Proje Adı <span>Alt Başlık</span></a>
                    </figure>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item web-dev">
                <div class="portfolio-wrap">
                    <figure>
                        <img src="img/portfolio-3.jpg" class="img-fluid" alt="">
                        <a href="img/portfolio-3.jpg" class="link-preview" data-lightbox="portfolio" data-title="Project Name" title="Preview"><i class="fa fa-eye"></i></a>
                        <a href="#" class="link-details" title="More Details"><i class="fa fa-link"></i></a>
                        <a class="portfolio-title" href="#">Proje Adı <span>Alt Başlık</span></a>
                    </figure>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item web-dev">
                <div class="portfolio-wrap">
                    <figure>
                        <img src="img/portfolio-4.jpg" class="img-fluid" alt="">
                        <a href="img/portfolio-4.jpg" class="link-preview" data-lightbox="portfolio" data-title="Project Name" title="Preview"><i class="fa fa-eye"></i></a>
                        <a href="#" class="link-details" title="More Details"><i class="fa fa-link"></i></a>
                        <a class="portfolio-title" href="#">Proje Adı  <span>Alt Başlık</span></a>
                    </figure>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item dig-mar">
                <div class="portfolio-wrap">
                    <figure>
                        <img src="img/portfolio-5.jpg" class="img-fluid" alt="">
                        <a href="img/portfolio-5.jpg" class="link-preview" data-lightbox="portfolio" data-title="Project Name" title="Preview"><i class="fa fa-eye"></i></a>
                        <a href="#" class="link-details" title="More Details"><i class="fa fa-link"></i></a>
                        <a class="portfolio-title" href="#">Proje Adı <span>Alt Başlık</span></a>
                    </figure>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item dig-mar">
                <div class="portfolio-wrap">
                    <figure>
                        <img src="img/portfolio-6.jpg" class="img-fluid" alt="">
                        <a href="img/portfolio-6.jpg" class="link-preview" data-lightbox="portfolio" data-title="Project Name" title="Preview"><i class="fa fa-eye"></i></a>
                        <a href="#" class="link-details" title="More Details"><i class="fa fa-link"></i></a>
                        <a class="portfolio-title" href="#">Proje Adı <span>Alt Konu</span></a>
                    </figure>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Portfolio Start -->
<!-- Contact Start -->
<div class="contact" id="contact">
    <div class="content-inner">
        <div class="content-header">
            <h2>İletişim</h2>
        </div>
        <div class="row align-items-center">
            <div class="col-md-6">
                <div class="contact-info">
                    <p><i class="fa fa-user"></i>Engin Avcı</p>
                    <p><i class="fa fa-tag"></i>Software Engineer</p>
                    <p><i class="fa fa-envelope"></i><a href="mailto:info@example.com">info@example.com</a></p>
                    <p><i class="fa fa-phone"></i><a href="tel:+1234567890">+123-456-7890</a></p>
                    <p><i class="fa fa-map-marker"></i>Elazığ, Merkez</p>
                    <div class="social">
                        <a class="btn" href=""><i class="fab fa-twitter"></i></a>
                        <a class="btn" href=""><i class="fab fa-facebook-f"></i></a>
                        <a class="btn" href=""><i class="fab fa-linkedin-in"></i></a>
                        <a class="btn" href=""><i class="fab fa-instagram"></i></a>
                        <a class="btn" href=""><i class="fab fa-youtube"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form">
                    <form>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <input type="text" class="form-control" placeholder="İsim" />
                            </div>
                            <div class="form-group col-md-6">
                                <input type="email" class="form-control" placeholder="Mail Adresi" />
                            </div>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Konu" />
                        </div>
                        <div class="form-group">
                            <textarea class="form-control" rows="5" placeholder="Mesaj"></textarea>
                        </div>
                        <div><button class="btn" type="submit">Mesaj Gönder</button></div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Contact End -->